.container {
  display: flex;
}

.left {
  flex: 1;
  padding: 20px;
  background-color: rgb(248, 182, 60);
}

.right {
  flex: 1;
  padding: 20px;
  background-color: rgb(248, 182, 60);
}

.section-form {
  margin-bottom: 20px;
}

.section-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.section-form input[type="text"],
.section-form textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.section-form button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section-form button:hover {
  background-color: #45a049;
}

.p-accordion .p-accordion-header {
  background-color: #f8f9fa;
  border-color: #ddd;
  font-weight: bold;
}

.p-accordion .p-accordion-header:hover {
  background-color: #e9ecef;
}

.p-accordion .p-accordion-content {
  border-color: #ddd;
  padding: 1rem;
}
button{
  width: 100px;
  margin: 20px;
}

